extends layout

block content
  .container-sm
    h1#title Patent Statistics
  .container-sm#graph
    canvas#categories-bar-chart
  hr
  .container-sm#graph
    canvas#centers-pie-chart

  //- if categories
  //-   p categories!
  //-   each val, key in categories 
  //-     p #{key} : #{val}

  //-   canvas#categories-bar-chart(height='400px' )
  //- p -----------------------------------------------------
  //- if centers 
  //-   p centers! 
  //-   each val, key in centers 
  //-     p #{key} : #{val}




    //- each key, val in centers
    //-   p #{key} : #{val}
    //-   p ID: #{val[0]}
    //-   p REFERENCE NUMBER: #{val[1]}
    //-   p TITLE: #{val[2]}
    //-   p ABSTRACT: #{val[3]}
    //-   p CLIENT RECORD ID: #{val[4]}
    //-   p CATEGORY: #{val[5]}
    //-   p RELEASE TYPE: #{val[6]}
    //-   p CATALOG NOTE: #{val[7]}
    //-   p SW URL: #{val[8]}
    //-   p CENTER: #{val[9]}
    //-   p IMAGE URL: #{val[10]}
    //-   p SUBCATEGORY: #{val[11]}
    //-   p ----------------------------------------------------------      

  script(src="/javascripts/graphs.js" val="hello")
